:root {
    --header-height: 3.5rem;
    --light-text: rgb(0, 0, 0);
    --body-color: rgb(0, 0, 0);

    --biggest-font-size: 3rem;
    --bigger-font-size: 1.75rem;
    --big-font-size: 1.15rem;
    --medium-font-size: 1.15rem;
    --normal-font-size: .938rem;
}