.menu {
    height: 100%;
    position: fixed;
    z-index: 50;
    top: 74px;
    right: 0;
    background-color: #171A1B;
    overflow-x: hidden;
    
    padding: 1rem;
    border-left: 1px solid rgb(56, 56, 56);
    text-align: center;

    &-item {
        padding: 1rem;
    }

    &-link {
        font-weight: 900;
        font-size: 20px;
        color: white;

        &:hover {
            text-decoration: none;
            color: white;
        }
    }
}

.close {
    width: 0px;
}

.open {
    width: 150px;
}