.hero {
    padding: 0 5rem;
    background-color: #171A1B;
    color: white;

    &-left, &-right {
        width: 50%;
        text-align: center;
    }

    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }

    &-margin {
        min-height: calc(100vh - 60px);
        align-items: center;
        display: flex;
        margin: 0 auto;
        max-width: 1060px;
    }

    &-text-top {
        font-weight: 300;
        font-size: 60px;
        line-height: 65px;
    }

    &-text-bottom {
        font-weight: 900;
        font-size: 80px;
        color: rgb(255, 243, 149);
        //color: rgb(255, 200, 149);
        line-height: 75px;
    }

    &-text-btn {
        padding: .5rem 4rem;
        margin-top: 3rem;
        border-radius: 25px;
        display: inline-block;
        transition: .5s;

        &:hover {
            background: black;
            color: white;
        }
    }

    &-divider {
        margin-left: 20px;
        margin-top: 20px;
    }

    &-right-img {
        border-radius: 300px;
        width: 500px;
        height: 500px; 
    }
}

.projects {
    padding: 7rem 5rem 0 5rem;

    &-header {
        font-size: 60px;
        line-height: 70px;
    }

    &-margin {
        align-items: center;
        //display: flex;
        margin: 0 auto;
        max-width: 1060px;
    }

    &-divider {
        margin-left: 20px;
        margin-top: 20px;
    }

    &-details {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        place-content: center;
        gap: 5rem;
        margin-top: 3rem;
    }

    &-card {
        //width: 50%;
        height: 500px;
    }
}

.aboutme {
    padding: 7rem 5rem 0 5rem;
    text-align: center;

    &-margin {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        max-width: 1060px;
    }

    &-header {
        font-size: 60px;
        line-height: 70px;
    }

    &-divider {
        margin-top: 1rem;
        //display: inline-block;
    }

    &-info {
        max-width: 65%;
        margin: 3rem auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &-img {
        width: 300px;
        height: 300px;
        border-radius: 250px;
        margin-right: 3rem;
    }

    &-text {
        font-size: 20px;
        font-weight: 100;
    }
}

@media (max-width: 1225px) {
    .aboutme {
        &-img {
            margin-right: 0;
        }

        &-text {
            margin-top: 2rem;
        }

        &-info {
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 1000px) {
    .hero-right-img {
        display: none;
    }

    .hero-margin {
        justify-content: center;
        flex-direction: column; //prevents lower text from wrapping at around 450
    }

    .hero-left {
        width: 100%;
    }
}

//mobile devices
@media (max-width: 450px) {
    .hero {
        padding: 0 2rem;

        &-text-top {
            font-size: 50px;
        }

        &-text-bottom {
            font-size: 65px;
            line-height: 60px;
        }

        &-text-btn {
            padding: 0.5rem 2rem;
        }
    }

    .projects, .aboutme {
        padding: 7rem 2rem 0 2rem;
    }

    .aboutme {
        &-img {
            width: 200px;
            height: 200px;
        }

        &-header {
            font-size: 52px;
            line-height: 50px;
        }
    }

    .projects {
        &-margin {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-divider {
            display: inline-block;
            margin-left: 0;
        }

        &-header {
            font-size: 52px;
            line-height: 50px;
        }
    }
}