.aboutme {
    padding: 5rem 5rem 5rem 5rem;
    text-align: center;
    color: var(--light-text);
    background-color: var(--background-dark3);

    &-margin {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        max-width: 1060px;
    }

    &-header {
        font-size: 60px;
        line-height: 70px;
    }

    &-divider {
        margin-top: 1rem;
        //display: inline-block;
    }

    &-info {
        max-width: 65%;
        margin: 3rem auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &-img {
        width: 300px;
        height: 300px;
        border-radius: 250px;
        margin-right: 3rem;
    }

    &-text {
        font-size: 20px;
        font-weight: 100;
    }
}

@media (max-width: 1225px) {
    .aboutme {
        &-img {
            margin-right: 0;
        }

        &-text {
            margin-top: 2rem;
        }

        &-info {
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 1150px) {
    .aboutme {
        &-img  {
            width: 220px;
            height: 220px;
        }

        &-text {
            font-size: 17px;
        }

        &-header {
            font-size: 52px;
            line-height: 50px;
        }
    }
}

@media (max-width: 450px) {
    .aboutme {
        padding: 7rem 2rem 2rem 2rem;

        &-img {
            width: 200px;
            height: 200px;
        }

        &-header {
            font-size: 52px;
            line-height: 50px;
        }
    }
}