.footer {
    background-color: var(--background-dark);
    color: var(--light-text);
    padding: 1rem 1rem;

    &-margin {
        margin: 0 auto;
        max-width: 1350px;
        height: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &-logo a {
        letter-spacing: 5px;
        font-size: 1rem;
        font-family: 'Comfortaa';
        font-weight: 100;
        cursor: pointer;

        &:hover {
            color: orange;
            transition: 0.1s;
        }
    }

    &-links {
        display: flex;
    }

    &-icon {
        margin-left: 1rem;

        &:first-child {
            margin-left: 0;
        }
    }

    &-icon svg {
        height: 30px;
        width: 30px;
        //margin-left: 1rem;

        &:hover {
            color: rgb(162, 162, 162);
            transition: 0.1s;
        }

        &:first-child {
            //margin-left: 0;
        }
    }
}