#header {
    position: fixed;
    width: 100%;
    z-index: 50;
    padding: 0 1rem;
}

.nav {
    height: 7vh;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.nav-logo {
    margin: 15px;
    font-size: var(--biggest-font-size);
    font-weight: 100;
}

.nav-item {
    display: inline-block;
    position: relative;
    margin-right: 1.5rem;
    font-size: var(--big-font-size);
}

.nav-item:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom-right;
    transition: transform 0.25s ease-out;
}

.nav-item:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}