#header {
    position: fixed;
    width: 100%;
    z-index: 50;
    padding: 7px 1rem;
    background-color: #171A1B;
}

.nav {
    height: 60px;
    max-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1350px;

    &-menu {
        cursor: pointer;
    }

    &-bar {
        width: 30px;
        height: 2px;
        background-color: white;
        margin: 8px 0;
    }

    &-menu {
        display: none;
    }
}

.nav-list {
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.nav-logo {
    margin: 15px;
    font-size: var(--biggest-font-size);
    font-weight: 100;
}

.nav-logo-text {
    color: white;
    transition: .2s;
    font-family: 'Comfortaa';

    &:hover {
        color: rgb(241, 156, 53);
        //font-weight: 900;
    }
}

.nav-item {
    display: inline-block;
    position: relative;
    margin-right: 1.5rem;
    font-size: var(--big-font-size);
}

.nav-item:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom-right;
    transition: transform 0.25s ease-out;
}

.nav-item:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-link {
    color: white;

    &:hover {
        color:white;
    }
}

@media (max-width: 1000px) {
    .nav {
        &-list {
            display: none;
        }

        &-menu {
            display: block;
            margin: 15px;
        }
    }
}